<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.ksiondzyk.launchassistant">

    <application
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <service
            android:name=".LaunchAssistTileService"
            android:icon="@drawable/ic_google_assistant_logo"
            android:label="Assist"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>